<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Plural sight training : Secure app home page</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>
    <div class="starter-template">
        <h1>Plural sight training : Secure app reports data</h1>
        <table class="table table-striped">
        	<tr><th>Station Id</th><th>Plate</th><th>Timestamp</th>
        	<tr th:each="toll : ${tolls}">
        		<td th:text="${toll.stationId}"></td>
        		<td th:text="${toll.licensePlate}"></td>
        		<td th:text="${toll.timestamp}"></td>
        	</tr>
        </table>
    </div>
</body>
</html>